@import '../../app';

.game {
  .flex-content;
  margin: 1rem 0;
  user-select: none;

  &__content {
    background: @whiteColor;
    box-shadow: 2px 3px 13px -5px @defaultColor;
    border-radius: 12px;
    width: 70%;
    padding: 3rem;

    .words {
      display: @displayFlex;
      flex-wrap: wrap;
      background: #F4FAFF;
      border: 1px solid @defaultColor;
      border-radius: 12px;
      box-shadow: 2px 3px 13px -5px @defaultColor;

      .correct { color: @greenColor }
      .incorrect { color: @redColor }
      p { margin: 0.1rem 0.2rem }
    }

    .typing {
      .flex-content;
      .mat-form-field { width: 350px }
      .timer { background: #3c4d5c }
      button { margin: 0 0.5rem }
    }
  }
}
