<section class="game">
  <div class="game__content">
    <div class="words" *ngIf="resultService.timer !== 0">
      <p
        *ngFor="let word of words"
        [class]="typingText === '' ? 'default' : typingText === words[0] && typingText === word ? 'correct' : 'incorrect'"
      >
        {{ word }}
      </p>
    </div>

    <div class="typing">
      <mat-form-field>
        <input matInput [(ngModel)]="typingText" (input)="checkWordsHandler($event)" [disabled]="resultService.timer === 60 || resultService.timer === 0" />
      </mat-form-field>

      <button mat-raised-button color="primary" class="start" (click)="startTypingHandler()" [disabled]="resultService.timer !== 60">
        <mat-icon>play_arrow</mat-icon>
      </button>

      <button mat-raised-button color="primary" class="refresh" (click)="resetGameHandler()" [disabled]="resultService.timer === 60">
        <mat-icon>refresh</mat-icon>
      </button>

      <button mat-raised-button color="primary" class="timer">
        {{ formatTimer }}
      </button>
    </div>
  </div>
</section>
