<div class="game">
  <div class="content">
    <div class="words">
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi labore nobis deleniti iusto dicta animi id, rem et earum expedita
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi labore nobis deleniti iusto dicta animi id, rem et earum expedita
      </p>
    </div>

    <div class="typing">
      <mat-form-field>
        <input matInput (click)="startTypingHandler()" />
      </mat-form-field>

      <button mat-raised-button color="accent" class="refresh">
        <mat-icon>refresh</mat-icon>
      </button>

      <button mat-raised-button color="accent" class="timer">
        {{ formatTimer }}
      </button>
    </div>
  </div>
</div>
