@import '../../app';

.result {
  .flex-content;

  &__content {
    background: @whiteColor;
    box-shadow: 2px 3px 13px -5px @defaultColor;
    border-radius: 12px;
    width: 20%;
    padding: 2rem;

    .wpm {
      text-align: @center;

      h1 { color: @greenColor }
      p { font-size: 0.7em }
    }

    .info {
      div {
        display: @displayFlex;
        justify-content: space-between;
        margin: 1rem 0;
      }

      .correct-words { color: @greenColor }
      .incorrect-words { color: @redColor }
    }
  }
}
