<div class="container">
  <header>
    <h1>Fast Fingers</h1>
  </header>

  <div class="content">
    <section class="game">
      <div class="game__content">
        <div class="words" *ngIf="timer !== 0">
          <p
            #wordsRef
            *ngFor="let word of wordsData; let i = index"
            [ngClass]="{'current': current === i}"
            [class]="word.status"
          >{{ word.word }}</p>
        </div>

        <div class="typing">
          <mat-form-field>
            <mat-label>Start typing</mat-label>
            <input matInput [(ngModel)]="enteredText" (keyup)="checkWordsHandler($event.keyCode)" [disabled]="timer === 0" />
          </mat-form-field>

          <button mat-raised-button color="primary" class="refresh" (click)="resetGameHandler()">
            <mat-icon>refresh</mat-icon>
          </button>

          <button mat-raised-button color="primary" class="timer">
            {{ formatTimer }}
          </button>
        </div>
      </div>
    </section>

    <section class="result" *ngIf="timer === 0">
      <div class="result__content">
        <div class="info">
          <div>
            <p>Words count</p>
            <strong>{{ wordsCount }}</strong>
          </div>

          <div>
            <p>Correct words</p>
            <p class="correct-words">{{ correctWords }}</p>
          </div>

          <div>
            <p>Incorrect words</p>
            <p class="incorrect-words">{{ incorrectWords }}</p>
          </div>
        </div>
      </div>
    </section>
  </div>
</div>
